
<header>
  <div class="wrapper">
    <nav><a href="/" class="brand"><img src="/img/logo-teal.png" alt="Accountability Hack 2016"/></a>
      <ul>
        <div class="top">
          <li><a href="/">Home</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/conduct">Code of Conduct</a></li>
        </div>
        <div class="bottom">
          <li><a href="http://rebellabs.co.uk" target="_blank">Accountability Hack 2016 is a Rebel Labs event</a></li>
        </div>
      </ul>
    </nav>
  </div>
</header>