
<div class="hero">
  <div class="wrapper">
    <h1>Accountability Hack is your chance to impact the democratic process through technology.</h1>
    <h2>Now in it's sixth year, Accountability Hack is a series of lunchtime discussions culminating in a two day hackathon for the UK Civic Tech community with workshops for those wanting to learn more.</h2>
    <h3>The hackathon will take place on November 19 - 20 2016 in London.</h3>
    <div class="buttons"><a href="#" class="focus">Register for the hackathon</a><a href="#" class="modal-trigger">View last year's video</a></div>
  </div>
</div>