footer.footer(role='contentinfo')
  .footer-logo
    a(href="http://rebellabs.co.uk"): img(src='/img/labs-white.svg', alt='Rebel Labs')
  .footer-links
    ul
      li: h3 Our other projects
      li: a(href='http://rebelmakers.co.uk') Rebel Makers
      li: a(href='http://ukgovhack.com') UKGovHack
      li: a(href='http://kabooom.co.uk') Kabooom Brum
    ul
      li: h3 Rebel Labs
      li: a(href='#') Constitution
      li: a(href='#') Manifesto
    ul
      li: h3 Follow Us
      li: a(href='http://facebook.com/rebellabs') Facebook
      li: a(href='http://twitter.com/_rebellabs') Twitter
      li: a(href='https://medium.com/rebel-labs') Medium
  hr
  p Rebel Labs Community Interest Company - Company number 09828132
  p Ludgate House, 28d Ludgate Hill, Birmingham, West Midlands, United Kingdom, B3 1DX