header: .wrapper
	nav
		a.brand(href="/"): img(src="/img/logo-teal.png", alt="Accountability Hack 2016")
		ul
			.top
				li: a(href="/") Home
				li: a(href="/hackathon") Hackathon
				li: a(href="/conduct") Code of Conduct
			.bottom
				li: a(href="http://rebellabs.co.uk", target="_blank") Accountability Hack 2016 is a Rebel Labs event