.hero: .wrapper
	h1 Accountability Hack is your chance to impact the democratic process through technology.
	h2 Now in it's sixth year, Accountability Hack is a series of lunchtime discussions culminating in a two day hackathon for the UK Civic Tech community with workshops for those wanting to learn more.
	h3 The hackathon will take place on November 19 - 20 2016 in London.
	.buttons
		a.focus(href="#") Register for the hackathon
		a(href="#") View last year's video