doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Accountability Hack is your chance to impact the democratic process through technology.')
    meta(name='author', content= "Rebel Labs")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Accountability Hack 2016
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    != css()
    script(src="https://use.typekit.net/stx0six.js")
    script(type="text/javascript").
        try{Typekit.load({ async: true });}catch(e){}

  body
    include header
    
    block content

    include footer

    script(src="https://code.jquery.com/jquery-3.1.0.slim.min.js", integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=", crossorigin="anonymous")
    != js()