$color-rebel-purple: #5f4273;
$color-rebel-teal: #00B5A1;
$color-rebel-pink: #E81F63;
$color-rebel-orange: #f57a26;

$color-primary: #377F90;
$color-secondary: #E3DD46;
$color-type: #59595B;

$font-family: "brandon-grotesque", sans-serif;

@mixin button($text, $bg) {
	display: inline-block;
	background: $bg;
	color: $text;
	text-decoration: none;
	margin-right: 1em;
	padding: 0.5em 1em;
	box-shadow: 0 2px 2px rgba(black, 0.25);
	&:hover {
		background: darken($bg, 10%);
	}
	&:active {
		background: darken($bg, 20%);
	}
}