
<div class="hero">
  <div class="wrapper">
    <h1>The Hackathon</h1>
    <h1>London, November 19 - 20 2016</h1>
    <h2>The Accountability Hack series culminates with our two day hackathon in November. It's aim is to bring together the civic tech community in the UK. Developers are given the challenge to use parliamentary data to ideate new and innovative ways in which the people can become involved in the democratic process. The event is also an opportunity to get political support and buy in, and ultimately aims to produce projects that will hold our elected more accountable.</h2>
    <div class="buttons"><a href="#" class="focus">Register for the hackathon</a><a href="#" class="modal-trigger">View last year's video</a></div>
  </div>
</div>